asgiref==3.2.3
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.1
Django==1.11.9
django-cors-headers==2.4.0
django-rest-framework==0.1.0
djangorestframework==3.11.0
geographiclib==1.50
geopy==1.20.0
gunicorn==19.7.1
idna==2.8
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.15.2
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.2
ptyprocess==0.6.0
Pygments==2.5.2
pytz==2019.3
requests==2.21.0
six==1.13.0
slugify==0.0.1
sqlparse==0.3.0
traitlets==4.3.3
urllib3==1.24.3
wcwidth==0.1.8
xlrd==1.2.0

