.food-search-banner-div{
    background-position-x: 50%;
    background-position-y: 49%;
    background-size: cover;
    height: 40em;
    background-color: #262626;
    background-image: url(https://images.pexels.com/photos/1600711/pexels-photo-1600711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.banner-text{
    margin: auto;
    text-align: center; 
    font-size: 64px; 
    padding-top: 2em;
    font-family: Sans Campaign,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
    font-weight: bolder;
    color: white;
}
.banner-search-bar-div{
    font-size: 32px;
    background-color: white;
    color: #262626;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: 430px;
    overflow: auto;
    display: inline-block;
}
.banner-search-bar-div .gps-input-bar{
    color: #888888;
    display: inline-block; 
    border-right: #888888 2px solid; 
    padding-right: 10px;
    float: left; 
    width: 50px 5%
}
.banner-search-bar-div input{
    border: none;
    outline: none; 
    font-size: 24px;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
    width: 350px;
    color: #888888
}
.food-search-banner-div .search-btn{
    display: inline-block;
    width: 70px ; 
    border-radius: 10px;
    background-color: #DC6B37;
    color: white;
    padding-top: 20px;
    vertical-align: top;
    height: 68px;
}
.results-search-bar-div{
    margin: 20px 0;
    width: 100%;
}
.results-search-bar-wrapper{
    font-size: 32px;
    background-color: white;
    color: #262626;
    padding: 10px !important;
    margin: auto;
    border-radius: 10px;
    width: 89%;
    margin-left: 1%;
    overflow: auto;
    display: inline-block;
}
.results-search-bar-wrapper input{
    border: none;
    outline: none; 
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 98%;
    color: #888888
}
.results-search-bar-div .search-btn{
    display: inline-block;
    width: 7% ; 
    border-radius: 10px;
    background-color: #DC6B37;
    color: white;
    padding-top: 8px;
    vertical-align: top;
    height: 49px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: bolder;
    font-size: 20px;
}
.steps-headline-div{
    text-align: center; 
    margin: 2em 0
}
.steps-sub-headline{
    font-size: 24px;
    color: white; 
    margin-bottom: 1em
}
.steps-main-headline{
    font-size: 32px; 
    color: #DC6B37; 
    font-weight: bolder; 
    margin-bottom: 1em
}
.content-steps{
    margin-bottom: 5em;
}
.steps-wrapper{
    height: 20em;
    padding: 1em !important;
    margin-bottom: 2em;

}
.steps-headline{
    color: white; 
    text-align: center;
    font-weight: bolder; 
    font-size: 20px
}
.steps-icon{
    background-color: #262626; 
    border-radius: 3em;
    width: 100%;
    height:100%
}
.food-search-app-footer{
    position: fixed;
    z-index: 2;
    bottom: 0;
    background-color: #262626;
    width: 100%;
    padding: 0 20px;
    font-family: Helvetica Neue,Roboto,Arial,Droid Sans,sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}
.food-search-app-footer a{
    float: right;
    color: white;
    padding: 0 1em;
}
.food-search-app-footer span{
    float: right;
    color: white;
    padding: 0 1em;
}
@media only screen and (max-width: 990px) {
    .results-search-bar-div .search-btn{
        width: 98%;
        margin-right: 1%; 
        margin-left: 1%; 
    }
    .results-search-bar-wrapper{
        width: 98%;
        margin-right: 1%; 
        margin-left: 1%; 
    }
}
.search-results{
    width: 95%;
    margin: auto;
    margin-top:10px;
    height: 83vh;
}
.result-container {
  position: relative;
  overflow: hidden;
  background: #262626;
  height: 200px;
  margin: auto;
  max-width: 1200px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Lato", sans-serif;
}

.result-container .item-info-div{
    vertical-align: top;
    width: 79%;
    display: inline-block;
    height: 100%;
    border-right: 2px dashed #DC6B37;
    border-radius: 0 5px 5px 0;
}
.result-container .final-price-div{
    vertical-align: top;
    width: 20%;
    height: 100%;
    display: inline-block;
    border-radius: 5px 0 0 5px;
    text-align: center;
    padding: 20px 0;
}

.result-container .item-info-div .logo{
    height: 50px;
    padding: 10px 30px;
}
.result-container .item-info-div .logo img{
    height: 100%;
    float: right;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.result-container .mobile-logo{
    height: 50px;
    padding: 10px 30px;
    display: none;
    text-align: center;
}
.result-container .mobile-logo img{
    height: 100%;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.item-img-wrapper{
    padding: 0 0 20px 20px;
    display: inline-block;
    width: 29.5%;
}
.item-img-wrapper img{
    width: 100%;
    border-radius: 20px;
    height: 140px;

}
.item-detail-wrapper{
    display: inline-block;
    width: 69.5%;
    vertical-align: top;
}
.item-detail-wrapper .item-name{
    color: #DC6B37;
    margin-left: 10px;
}
.item-detail-wrapper .item-name h1{
    margin: 0;
    font-size:3rem;
    font-weight: bolder;
}

.item-detail-wrapper .restaurant-details{
    margin-left: 10px;
    margin-top: 10px;
    color: #888888;
}
.item-detail-wrapper .restaurant-details .restaurant-info-wrapper{
    display: inline-block; 
    vertical-align: top;
}

.item-detail-wrapper .restaurant-details .restaurant-info-wrapper .res-name{
    color: white;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bolder;
}
.item-detail-wrapper .restaurant-details .restaurant-info-wrapper .res-address{
    width: 300px;
    word-break: break-word;
    display: inline-block;
    font-size:13px;
}
.item-detail-wrapper .restaurant-details .item-rating-wrapper {
    float: right;
    margin-right: 20px;
    display: inline-block;
}
.item-detail-wrapper .restaurant-details .item-rating-wrapper .rating-string{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.item-detail-wrapper .restaurant-details .item-rating-wrapper .star-ratings {
  unicode-bidi: bidi-override;
  color: #888888;
  font-size: 24px;
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  }
.item-detail-wrapper .restaurant-details .item-rating-wrapper .star-ratings .fill-ratings {
    color: #DC6B37;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}    
.item-detail-wrapper .restaurant-details .item-rating-wrapper .star-ratings .fill-ratings span {
      display: inline-block;
    }
.item-detail-wrapper .restaurant-details .item-rating-wrapper .star-ratings .fill-ratings .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
  }

.final-price-div .final-price-info span{
    color: white; 
    font-weight: bolder;
    font-size: 50px
}
.final-price-div .res-delivery-time img{
    height: 30px;
    vertical-align: sub;
    margin-left: 1em; 
    margin-right: 1em;
}
.final-price-div .res-delivery-time span{
    color: white;
}

.final-price-div .res-delivery-time .del-time-string{
    font-size: 24px;
    font-weight: bolder;
}

.final-price-div .select-item-btn{
    background-color: #DC6B37;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.final-price-div .select-item-btn a{
    color: white;
    font-size: 32px;
    font-weight: bolder;
}
.final-price-div .select-item-btn a i{
    font-weight: bolder;
}
.select-item-btn-wrapper{
    display: none;
    background-color: #DC6B37;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}
.select-item-btn-wrapper a{
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
.select-item-btn-wrapper a i{
    font-weight: bolder;
    font-size: 14px;
}
.search-loader{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 42vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #262626
}
.location-loader{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 42vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #262626
}
.ask-location-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4)
}
.ask-location-modal-content{
    background-color: #191919;
    overflow: auto;
    margin: 35vh auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}
.ask-location-modal-content p{
    text-align: center;
    color: #888888;
}
.ask-location-modal-content .preview-map img{
    height: 100%; 
    width: 100%; 
    border-radius: 10px 10px 0 0;

}
.address-bar{
    padding: 10px 20px;
    background-color: #191919;
    margin-top: -6px;
    border-radius: 0 0 10px 10px;
}

.address-bar p{
    margin: 0;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #DC6B37;
    height: fit-content;
}

.address-bar input{
    margin: 0;
    border: 3px #888888 solid;
    border-radius: 10px;
    color: white;
    background-color: #262626;
}
.location-modal-action-wrapper{
    text-align: center;
}
.location-modal-action-wrapper a{
    display: none;
    border-radius: 10px;
    color: white;
    padding: 10px 50px;
    background-color: #DC6B37;
    font-weight: bolder;
    margin: 10px;
}
.location-modal-auto-detect-wrapper{
    text-align: center;
}
.location-modal-auto-detect-wrapper a i{
    font-size: 15px;
}
.location-modal-auto-detect-wrapper a{
    font-size: 20px;
    display: block;
    border-radius: 10px;
    color: white;
    padding: 10px 50px;
    background-color: #DC6B37;
    font-weight: bolder;
    margin: 10px;
}
.search-results-loader{
    display: none;
    position: relative;
    justify-content: center;
    height: 5rem;
    padding-top: 1.2rem;
}
.search-results-loader div{
    border-top: 3px solid #888888;
    border-right: 3px solid transparent;
    border-radius: 50%;
    -webkit-animation: rotation .8s linear infinite;
    animation: rotation .8s linear infinite;
    width: 3rem;
    height: 3rem;
}
@media only screen and (max-width: 600px) {
    .search-results{
    height: 71vh !important;
    }
    .banner-text{
    font-size: 40px; 
    padding-top: 4em;
    color: white;
    }
    .banner-search-bar-div{
        display: block;
        font-size: 24px;
        padding: 10px;
        width: 340px;
    }
    .banner-search-bar-div .gps-input-bar{
        padding-right: 5px;
        width: 32px 
    }
    .banner-search-bar-div input{
        font-size: 24px;
        margin-left: 5px;
        margin-top: 5px;
        width: 280px;
    }
    .food-search-banner-div .search-btn{
        display: block;
        width: 150px ; 
        border-radius: 10px;
        background-color: #DC6B37;
        color: white;
        margin-left: 33%;
        height: 56px;
        margin-top: 5px;
        padding-top: 15px;
    }
    .food-search-app-footer{
        font-size: 7px;
    }
}

@media only screen and (max-width: 990px) {
    .search-results{
    height: 75vh;
    }
    .item-img-wrapper{
        display: none;
    }
    .item-detail-wrapper{
        width: 100%;
    }

    .result-container{
        max-width: 900px;
        max-height: 350px;
        height: auto;
    }
    .result-container .item-info-div{
        display: block;
        width: 100%;
        border: none;
        height: 60%;
        border-bottom: 2px dashed #DC6B37;
    }
    .item-detail-wrapper .item-name h1{
        font-size: 3rem;
        word-break: word-break;
    }
    .result-container .final-price-div{
        width: 100%;
        height: 40%;
        padding: 5px 0 0 0;
        margin: 0 0 10px 0;
    }
    .item-detail-wrapper .restaurant-details .restaurant-info-wrapper .res-address{
        display: none;
        width: 260px;
    }
    .item-detail-wrapper .restaurant-details .item-rating-wrapper .rating-string{
        font-size: 48px;
    }
    .final-price-div .final-price-info{
        display: inline-block;
    }
    .final-price-div .res-delivery-time{
        display: inline-block;
    }
    .item-detail-wrapper .restaurant-details .restaurant-info-wrapper{
        width: 100%;
    }
    .item-detail-wrapper .restaurant-details .restaurant-info-wrapper .res-name{
        font-size: 1.5rem;
        text-align: left;
    }
    .item-detail-wrapper .restaurant-details .item-rating-wrapper{
        float: left;
    }
    .item-detail-wrapper .restaurant-details .item-rating-wrapper .rating-string{
        font-size: 24px;
    }
    .item-detail-wrapper .restaurant-details .item-rating-wrapper .star-ratings{
        font-size: 18px;
    }
    .result-container .item-info-div .logo{
        text-align: center;
    }
    .result-container .item-info-div .logo img{
        float: none;
    }
}

@media only screen and (max-width: 710px) {
    .result-container{
        width: 95%;
        max-height: 200px;
    }
    .result-container .item-info-div{
        text-align: center;
        width: 60%;
        display: inline-block;
        border:none;
        max-height: 100px;
    }
    .result-container .final-price-div{
        display: inline-block;
        width: 35%;
        text-align: right;
        max-height: 100px;
        min-height: 70px;
        margin: 0;
        padding: 0;
    }
    .item-img-wrapper{
        display: none;
    }
    .item-detail-wrapper{
        width: 100%;
    }
    .item-detail-wrapper .restaurant-details{
        margin: auto;
        margin-top: 5px;
    }
    .item-detail-wrapper .restaurant-details .restaurant-info-wrapper{
        display: block;
        padding: 0 10px;
    }
    .item-detail-wrapper .restaurant-details .restaurant-info-wrapper .res-name{
        text-align: left;
        font-size: 0.7rem;
    }
    .item-detail-wrapper .restaurant-details .restaurant-info-wrapper .res-address{
        display: none;
        width: 100%;
        margin: 1em 0 0 0;
    }
    .item-detail-wrapper .restaurant-details .item-rating-wrapper{
        display: block;
        float: none;
        text-align: left;
        padding: 0 10px;
    }
    .item-detail-wrapper .item-name h1{
        font-size: 1.5rem;
        text-align: left;

    }
    .result-container .mobile-logo{
        display: block;
    }
    .result-container .item-info-div .logo{
        display: none;
    }
    .final-price-div .final-price-info{
        display: block;
    }
    .final-price-div .res-delivery-time{
        display: block;
    }
    .final-price-div .final-price-info span{
        font-size: 30px;
    }
    .final-price-div .final-price-info i{
        font-size: 15px;
        vertical-align: super;
    }
    .final-price-div .res-delivery-time img{
        height: 18px;
        margin-right: 0.5em;
    }
    .final-price-div .res-delivery-time .del-time-string{
        font-size: 16px;
    }
    .item-detail-wrapper .restaurant-details .item-rating-wrapper .rating-string{
        font-size: 20px;
    }
    .item-detail-wrapper .restaurant-details .item-rating-wrapper .star-ratings{
        font-size: 14px;
    }
    .final-price-div .select-item-btn{
        display: none;
    }
    .select-item-btn-wrapper{
        display: block;
        margin-bottom: 10px;
    }
    .ask-location-modal-content{
        width: 100%;
        margin: auto;
        height: -moz-calc(92% - (30px));
        height: -webkit-calc(92% - (30px));
        height: calc(92% - (30px));
        max-width: 630px;
    }
    .ask-location-modal{
        top: 60px;
    }
    .preview-map{
        height: 150px;
    }
    .pac-item, .pac-item-selected {
        padding: 0 20px;
        border-top: none;
        border-bottom: 1px solid #888888;
        height: 40px;
        line-height: 40px;
    }

    .pac-container {
        left: 0 !important;
        width: 100% !important;
        margin-top: 5px !important;
        background-color: #191919 !important;
        border-top: none;
        box-shadow: none;
    }

    span.pac-icon.pac-icon-marker {
        display: none;
    }

    .pac-logo:after {
        display: none;
    }

    span.pac-item-query {
        color: white;
        font-size: 17px;
    }   
    .pac-item-selected,.pac-item-selected:hover,.pac-item:hover {
    background-color: #262626!important;
    }
    body{
        /*overflow: hidden;*/
    }
}

.pin-wrapper{
  display: block;
  margin: 60px 30px;
  position: relative;
  text-transform: uppercase;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  color: rgba(0,0,0,0.8);
}
  
  .pin-wrapper .pin{
    position: relative;
    margin:auto;
    width: 100px;
    height: 100px;
    border-radius: 200px 200px 200px 0;
    margin-top: 20px;
    background: #00cae9;
    transform: rotate(-45deg);
    background-repeat: no-repeat;
    overflow: hidden;
    transform-origin: center center;
   -webkit-box-shadow: -5px 0px 0 rgba(0,0,0,0.2);
    box-shadow: -5px 0px 0 rgba(0,0,0,0.2);
    }
   .pin-wrapper .pin:hover{
    animation: bounce 0.3s cubic-bezier(0.38, 0.13, 0.57, 2.08) forwards;
   }
  
  .pin-wrapper .pin:before{
    position: absolute;
    content: '';
    width: 30px; 
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    -webkit-box-shadow: inset -5px -1px 0 rgba(0,0,0,0.2);
    box-shadow: inset -5px -1px 0 rgba(0,0,0,0.2);
  }
    
    .pin-wrapper .pin:after{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background-repeat: no-repeat;
    }

  .burger .pin{
    background-color: #edaf4e;
  }
  .burger .pin:after{
    background-color: #edaf4e;
    background-image: 
      radial-gradient(circle, #feefd0 50%, transparent 50%),
        radial-gradient(circle, #feefd0 50%, transparent 50%), 
        radial-gradient(circle, #feefd0 50%, transparent 50%), 
        radial-gradient(circle, #feefd0 50%, transparent 50%),
        linear-gradient(to bottom, #edaf4e 80%, #b97143 100%), 
        linear-gradient(to bottom, #ff4035 50%, #e31c13 100%), 
        linear-gradient(to bottom, #ffbe18 0%, #ffbe18 100%), 
        linear-gradient(145deg, #ffbe18 30%, transparent 30%), 
        linear-gradient(-145deg, #ffbe18 30%, transparent 30%), 
        linear-gradient(to bottom, #c35b53 0%, #612427 100%), 
        linear-gradient(to bottom, #ffbe18 0%, #ffbe18 100%), 
        linear-gradient(145deg, #ffbe18 30%, transparent 30%), 
        linear-gradient(-145deg, #ffbe18 30%, transparent 30%), 
        linear-gradient(to bottom, #c35b53 0%, #612427 100%), 
        linear-gradient(to bottom, #5bb861 0%, #5bb861 100%), 
        radial-gradient(circle, #5bb861 50%, transparent 50%), 
        radial-gradient(circle, #5bb861 50%, transparent 50%), 
        radial-gradient(circle, #5bb861 50%, transparent 50%), 
        radial-gradient(circle, #5bb861 50%, transparent 50%); 
    background-size: 3% 3%, 3% 3%, 3% 3%, 3% 3%,100% 30%, 100% 8%, 100% 4%, 20% 30%, 20% 30%, 100% 20%, 100% 4%, 15% 30%, 15% 30%, 100% 10%, 100% 5%,20% 20%, 35% 20%, 20% 20%, 35% 20%;
    background-position: 30% 8%, 45% 4%, 55% 8%, 65% 5%, 0 0, 0 32%, 0 38%, 100% 45%, 75% 45%, 0 38%, 0 50%, 20% 62%, 2% 62%, 0 58%, 0 63%, 0% 65%, 16% 60%, 75% 65%, 110% 60%;
  }

  .icecream .pin{
    background-color: #f6dfa5;
    background-image: repeating-linear-gradient(75deg,rgba(239,205,133,0),transparent 10px,rgba(239,205,133,1) 10px,#efcd8502 12px),repeating-linear-gradient(-15deg,transparent,transparent 10px,rgba(239,205,133,1) 10px,rgba(239,205,133,1) 12px);
  }
  .icecream .pin:after{
    background-color: transparent;
    background-image:
      radial-gradient(circle, #eb4b8a 90%, transparent 10%),
      radial-gradient(circle, #eb4b8a 50%, transparent 50%),
      radial-gradient(circle, #eb4b8a 50%, transparent 50%),
      radial-gradient(circle, #eb4b8a 50%, transparent 50%),
      radial-gradient(circle, #eb4b8a 50%, transparent 50%),
      radial-gradient(circle, #eb4b8a 50%, transparent 50%)
      ;
    background-size: 100% 80%, 30% 30%, 20% 20%, 30% 30%, 20% 20%, 30% 30%;
    background-position: 0 -20%, 0 80%, 28% 80%, 50% 80%, 70% 80%, 96% 80%;
  }
  .sushi .pin{
    background-color: #363a2e;
    background-image: radial-gradient(circle, #f17932 60%, transparent 40%),
                       radial-gradient(circle, #efefef 60%, transparent 40%)
    ;
    background-size: 70% 70%, 100% 100%;
    background-position: 50% 50%, 50% 50%;
  }

  .pizza .pin{
    background-color: #ffdd58;
    border-top: 10px solid #d5aa53;
    border-right: 10px solid #d5aa53;
    // border-image: linear-gradient(to top, #d5aa53 70%, #b97143 100%);
  }
  .pizza .pin:after{
    background-color: #ffdd58;
    background-image:
        radial-gradient(circle, #dd4122 50%, transparent 50%), 
        radial-gradient(circle, #d34326 50%, transparent 50%), 
        radial-gradient(circle, #dd4122 50%, transparent 50%), 
        radial-gradient(circle, #d34326 50%, transparent 50%), 
        radial-gradient(circle, #dd4122 50%, transparent 50%);
    background-size: 35% 35%, 35% 35%, 35% 35%, 35% 35%, 35% 35%;
    background-position: 0 45%, 65% 2%,  35% 100%, 95% 120%, 110% 60%;
  }
@keyframes bounce{
  0% {
    top: 0;
  }
  50% {
    top: -12px;
  }
  100% {
    top: 0;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*
::-webkit-scrollbar {
    display: none;
}
*/

.price-bifurcation-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(88, 88, 88, 0.5);
    z-index: 1000;
    display: none;
}

.price-bifurcation-content{
    margin: auto;
    background-color: #262626;
    max-height: 35em;
    width: 90%;
    max-width: 520px;
    border-radius: 10px;
    top: 25vh;
    position: relative;
    padding:20px
}
.price-bifurcation-content .modal-title{
    font-size: 20px;
    text-align: center;
    color: #DC6B37
}

.price-bifurcation-content .close-modal{
    position: absolute;
    top: 0.2em;
    right: 0;
    font-size: 20px;
    color: #DC6B37;
    width: 2em;
    text-align: center;
}
.price-bifurcation-content .price-bif-div{
    color: #888888;
    font-size: 20px;
}
.price-bifurcation-content .price-bif-div span{
    width: 45%;
    display: inline-block;
    text-align: center;
}
.price-bifurcation-content .price-bif-div .total-price-div{

    border-top: dashed #DC6B37;
    padding-top: 10px;
    font-weight: bolder;
}
.mobile-location-info{
   display:none;
}
@media only screen and (max-width: 710px) {
.mobile-location-info{
    display:block;
    height: 50px;
    color: #888888;
    border-bottom: solid 1px #888888;
    padding: 5px 18px 6px 18px;
}
.mobile-location-info #address-short{
    font-weight: bolder;
    color: white;
}
.mobile-location-info #address-short i{
    vertical-align:bottom;
    color:#DC6B37;
}
}

.item-1,
.item-2,
.item-3,
.item-4{
	position: absolute;
        display: block;
	opacity:0;
        width: 50%;
        font-size: 1em;
	color:#888888;
	animation-duration: 24s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

.item-4{
        animation-name: anim-4;
	opacity:1
}
@keyframes anim-1 {
	0%, 7% { left: -100%; opacity: 0; }
  7%,20% { left: 25%; opacity: 1; }
  25%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 25% { left: -100%; opacity: 0; }
  31%, 45% { left: 25%; opacity: 1; }
  50%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 50% { left: -100%; opacity: 0; }
  58%, 69% { left: 25%; opacity: 1; }
  75%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-4 {
        0%, 75% { left: -100%; opacity: 0; }
  81%, 100% { left: 25%; opacity: 1; }
}

