.hide {
  display: none;
}

.users_mentions_list {
  position: absolute;
  left: 7px;
  margin-top: 0px;
  z-index:100;
  width: 99%;
  height: auto;
  overflow-y:auto;
  overflow-x:auto;
  padding: 0px;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(64,54,63,0.25);
  border: 1px solid #DDD;
}

.users_mentions_list li{
  padding: 5px;
  text-decoration: none;
  color: #606060;
  margin-right: 0px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #F0F0F0;
}

.users_mentions_list li:hover{
  background: #439fe0;
  color: #fff;
  border-bottom-color: #2a80b9;
}

.users_mentions_list li.hover_disable{
    background: #D0D0D0;
    color: #606060;
    border-bottom-color: #B0B0B0;
}

.users_mentions_list li.suggested_mention_selected {
  background: #439fe0;
  border-bottom-color: #2a80b9;
  color: #fff;
}
